{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry"
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 2
      }
    ],
    "@babel/plugin-proposal-class-properties",
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "@libs": "./libs",
          "@client": "./client",
          "@server": "./server",
          "@public": "./public",
          "@consts": "./consts"
        }
      }
    ]
  ]
}