.cache/
.DS_Store

node_modules/
envs/*.env
.vscode
coverage/
.ocp-port-forwarding.js
*/**.text
scripts/testData

# dist files for build
dist

## dist files for jenkins deployment
dist-client
dist-server