.fade-in {
  opacity: 0;
  animation-name: fadeIn;
  animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
  animation-iteration-count: 1;
  animation-delay: 0.2s;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

.slide-in {
  opacity: 0;
  position: relative;
  animation-name: slideIn;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-iteration-count: 1;
  animation-delay: 0.2s;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}