.ant-divider-horizontal {
  .ant-divider-inner-text {
    display: inline-block;
    padding: 0px 1em;
    color: #686868c2;
    font-weight: lighter;
    font-size: 1em;
  }
}

.ant-checkbox-wrapper + .ant-checkbox-wrapper {
  margin-left: 0;
}

.ant-checkbox {
  top: 3px;
}
.ant-notification {
  width: 500px;
  .ant-notification-notice-message {
    color: rgba(0, 0, 0, 0.65);
  }
  .ant-notification-notice-with-icon .ant-notification-notice-message {
    margin-left: 4.5em;
  }
  .ant-notification-notice-with-icon .ant-notification-notice-description {
    margin-top: 1em;
    margin-left: 0;
  }
  .ant-notification-notice-icon {
    left: 1em;
  }
}