.ant-divider-horizontal {
  .ant-divider-inner-text {
    display: inline-block;
    padding: 0px 1em;
    color: #686868c2;
    font-weight: lighter;
    font-size: 1em;
  }
}

.ant-checkbox-wrapper + .ant-checkbox-wrapper {
  margin-left: 0;
}

.ant-checkbox {
  top: 3px;
}
.ant-notification {
  width: 500px;
  .ant-notification-notice-icon {
    left:0.5em;
  }
}