.result-card {
  font-size: 0.8em;
  color: #777;
  .header {
    position: absolute;
    background-color: transparent;
    border: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    background: linear-gradient(to top, #7dbae800 0%,#ffffffbd 70%, #ffffff 100%);
    .action-buttons {
      z-index: 1;
      position: absolute;
      a {
        position: absolute;
        left: 2px; top: 20px;
        transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
        opacity: 0;
        padding: 1em;
        background-color:white;
        box-shadow: -1px 1px 4px 0px #abbac95e;
        border-radius: 1em;
        text-align: left;
        display: block;
        // width: 10em;
        &:nth-child(2) {
          top: 4em;
          transition-delay: 0.1s;
        }
      }
      &.active {
        a {
          opacity: 1;
          top: 5em;
          &:nth-child(2) {
            top: 10em;
          }
        }
      }
    }
    .top {
      justify-content: flex-start;
    }
    .type-avatar {
      top: 0; left: 0;
      z-index: 2;
      pointer-events: none;
    }
    .labels {
      text-align: left;
      margin-left: 1em;
    }
    .top-label {
      font-weight: bold;
    }
    .name {
      font-weight: bold;
      color: #80808061;
    }
  }
  .card-morph {
    position: absolute;
    height: 100%; width: 100%;
    left: 0; top: 0;
    z-index: 1;
  }
  .unemphasized {
    font-weight: bold;
    color: #80808061;
  }
  .footer {
    position: absolute;
    width: 100%;
    bottom: 0; left: 0;
    padding: 1em;
    z-index: 2;
    overflow: hidden;
    background: linear-gradient(to bottom, #7dbae800 0%,#ffffffbd 60%, #ffffff 100%);
    .banner {
      width: 6em;
      position: absolute;
      right: -28px;
      bottom: -66px;
      z-index: 0;
      transform: rotateZ(54deg);
      height: 16em;
      &.in-silico {
        background-color: #00c4ff;
      }
      &.experimental {
        background-color: #90eac3;
      }
    }
    .study-type {
      z-index:1;
      color: white;
    }
    .mType {
      font-size: 2em;
      color: #555;
    }
    .brainRegion {
      font-style: italic;
    }
    .bottom {
      padding: 2em 0 0;
      .pi {
        color: #555;
        font-weight: bold;
      }
    }
  }
}
