.dismissable-sider {
  transition: all 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  transition-delay: .2s;
  position: relative;
  margin: 0;
  height: 100%;
  z-index:2;
  // flex: 0 0 0;
  background-color:white;
  width: 0;
  .dismissable-sider-content {
    transition-delay: 0;
    transition: all .2s ease-out;
    opacity: 0;
  }
  .dismissable-sider-button {
    transition: all 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    position: absolute;
    z-index: 1;
    top: 5em;
    right: -2.5em;
    background-color:white;
    padding: 0.5em 0.5em 0.5em 1em;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
    .rotate-me {
      transition: all 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    }
  }
  &.open {
    opacity: 1;
    left: 0;
    width: 400px;
    // flex: 0 0 300px;
    .dismissable-sider-content {
      transition-delay: 1s;
      opacity: 1;
    }
    .dismissable-sider-button {
      right: -1.5em;
      opacity: 1;
      padding: 0.5em 0.5em 0.5em 0.81em;
      &:hover {
        right: -2em;
      }
      .rotate-me {
        transform: rotate(180deg);
      }
    }
  }
}