.citations-list {
  max-height: 80vh;
  height: auto;
  overflow-y: scroll;
  padding: 2em;
  li {
    margin-bottom: 1em;
  }
}

.download-list {
  max-height: 80vh;
  height: auto;
  overflow-y: scroll;
}

.downloader {
  display:inline-block;
}

button.download {
  text-align: center;
  width: 100px;
  padding-top: inherit;
  &.ant-btn-primary {
    width: auto;
    padding: 0 1em;
  }
  .ant-spin {
    margin-top: 4px;
  }
}