.ephys {
  width: 100%;
  height: 9.5em;
  position: absolute;
  top: 50%;
  text-align: center;
  padding: 0.5em;
  background-color: transparent;
  pointer-events: none;
  .stimulus {
    pointer-events: all;
    cursor: pointer;
    .label {
      transition: all 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
      position: absolute;
      width: 100%;
      text-align: center;
      bottom: 1.5em;
      opacity: 1;
      color: #555;
      font-size: 1.5em;
    }
    canvas, img {
      transition: all 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
      margin: 0 auto;
      width: 100%;
      height: 100%;
      mix-blend-mode: overlay;
      opacity: 0.8;
      image-rendering: crisp-edges;
    }
    &:hover {
      .label {
        opacity: 0;
      }
      canvas, img {
        opacity: 1;
      }
    }
  }
}