#facets {
  ul.facet-subgroup {
    padding: 0 1em;
    list-style: none;
  }
}

.ant-checkbox + span {
  padding-right: 0;
}

.facet-checkbox {
  width: 100%;
  &:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.01);
  }
  cursor: pointer;
  transition: all 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  border-radius: 2px;
  padding: 5px;
  padding-right: 0;
  display: flex;
  &:hover {
    background-color: rgba(185, 233, 212, 0.09);
  }
  > span:nth-child(2) {
    display: flex;
    flex-grow: 1;
    width: 90%;
  }
  .label-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .label {
    text-transform: capitalize;
    width: 100%;
    &::before, &::after {
      display: inline-block;
      max-width: 50%;
      overflow: hidden;
      white-space: pre;
    }

    &::before {
      content: attr(data-content-start);
      text-overflow: ellipsis;
    }

    &::after {
      content: attr(data-content-end);
      text-overflow: clip;
      direction: rtl;
    }
  }
  .amount {
    text-align: right;
  }
}

li.facet-subgroup {
  margin-bottom: 1em;
}

.ant-popover-inner-content {
  > .subfacet-body {
    width: 300px;
  }
}