.prov-list {
  padding: 1em;
  margin-bottom: 1em;
  h3 {
    font-size: 16px;
    line-height: 1.3;
    font-weight: normal;
    color: #666;
    padding-left:1em;
  }
  .ant-list {
    background-color: #f2f2f2;
  border: 1px dashed #e8e8e8;
  border-radius: 4px;
  max-height: 500px;
  overflow-x: scroll;
  }
}
article#details {
  .prov-link {
    &.default {
      background-color:white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 32px;
      line-height: 30px;
      background-color: #fff;
      border-radius: 4px;
      padding: 0 0 0 4px;
      font-size: 1em;
      .type-icon {
        margin-right: 1em;
        .type-svg {
          height: 18px;
        }
      }
      // border: 1px solid #d9d9d9;
      // border-top-width: 1.02px;
    }
    .type-icon {
      margin-right: 1em;
      .type-svg {
        height: 2em;
      }
    }
  }
}