doctype html
html(lang='en')
  head
    title Nexus Search
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name="description", content="The searchable knoledge graph application")
    meta(name="theme-color", content="#44c7f4")
    link(href="./css/fontawesome-all.css", rel="stylesheet")
    link(rel="icon", type="image/png", sizes="32x32", href="./img/favicon-32x32.png")
    link(rel="stylesheet", href="../node_modules/antd/dist/antd.css")
    link(rel="stylesheet" href="./css/search.css")
  body
    a(href=process.env.BASE_URI) hello!
    h1=process.env.BASE_URI
    div.pattern
    div#explorer-app
    script.
      // The base URI that the app will be deployed at, eg. "mynexus.org/search"
      window.BASE_URI = process.env.BASE_URI;
      // The base URI that the companion server will be deployed at, eg. "search.mynexus.org"
      window.SEARCH_API_URI = process.env.SEARCH_API_URI;
      // The path to find this index file once deployed, eg. "/search"
      window.BASE_PATH = process.env.BASE_PATH;
    script(src="../index.js")