@import '../../lib.less';

.toolbar-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  height: 40px;
  background-color: #6bcff220;
  margin-bottom: 1em;
  .divider {
    border-left: 1px solid @border-color-base;
    height: 16px;
    margin: 0 10px;
  }

  .members {
    margin-right: 5px;
  }
}
