# The port of this server
SEARCH_PROXY_PORT=9999
# Where to get individual resource (necessary because different APIs)
RESOURCE_URL=http://resources.example.com
# The Elastic Search endpoint
ELASTICSEARCH_CLIENT_URL=http://elastic.example.com
# the E.S. index to query
ELASTIC_SEARCH_INDEX=my_index
# search api base path to get server (start with slash if not empty)
SEARCH_API_BASE_PATH=""
# The base URI that the app will be deployed at, eg. "mynexus.org/search"
BASE_URI="https://bbp-nexus.epfl.ch/staging"
# The path to find this index file once deployed, eg. "/search"
BASE_PATH=""
# The base URI that the companion server will be deployed at, eg. "search.mynexus.org"
SEARCH_API_URI="http://localhost:9999/search"
# Service token that the backend will use to sync data to/from prod resources
SEARCH_APP_SERVICE_TOKEN_PROD="super-secret-token"
# Service token that the backend will use to sync data to/from staging resources
SEARCH_APP_SERVICE_TOKEN_STAG="super-secret-token"
# Kafka Host (for automatic updates)
KAFKA_HOST="localhost:9092"
# Search Kafka topic (the domain that the event listener must listen to)
KAFKA_TOPIC="search-events"